@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f4a261;
  --secondary-color: #e9c46a;
  --base-color: #264653;
  --error-color: #e76f51;
  --success-color: #2a9d8f;
}
